

div{
	width: 200px;
	height: 200px;
}


.rojo{
	background-color: red;
	position: absolute;
	left: 0;
	top: 0;

}

.azul{
	background-color: blue;
	position: absolute;
	right: 0;
	top: 0;


}

.amarillo{
	background-color: yellow;
	position: absolute;
	left: 0;
	bottom: 0;

}

.green{
	background-color: yellow;
	position: absolute;
	right: 0;
	bottom: 0;

}

